<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aswanabidin.traveker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchertraveker"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HalamanHome"
            android:label="@string/title_activity_halaman_home" />
        <activity
            android:name=".CardHome.HalamanFlights"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CardHome.HalamanHotel"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CardHome.HalamanItenerary"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CardHome.HalamanTours"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanAddItenerary"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanDaftar"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HalamanAccount" />
        <activity android:name=".HalamanBookings" />
        <activity android:name=".HalamanNotifications" />
        <activity android:name=".HalamanProfile" />
        <activity
            android:name=".HalamanListFlights"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanImportSchedule"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanDetailItenerary"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanBookingFlights"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanListHotels"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanImportHotel"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanListTours"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanImportTours"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanLupaPassword"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>