<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aswanabidin.traveker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchertraveker"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HalamanHome"
            android:label="@string/title_activity_halaman_home" />
        <activity
            android:name=".HalamanFlights"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanHotel"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanItenerary"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanTours"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanAddItenerary"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HalamanDaftar"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>



</manifest>